body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Mobile */
@media (min-width: 280px) and (max-width: 767px) {
  #level-title {
    font-size: 1.5rem;
  }
  .container {
    width: auto;
  }
  .btn {
    width: 150px;
    height: 150px;
    margin: 23px;
  }
  .row{
    display: flex;
    justify-content: center;
  }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1103px){
  #level-title {
    font-size: 2em;
  }
  .container {
    width: auto;
  }
  .btn {
    width: 160px;
    height: 160px;
    margin: 23px;
  }
  .row {
    display: flex;
    justify-content: center;
  }
}